{% extends 'layout.html' %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="/">Repositories</a> <span class="divider">/</span></li>
    <li class="active">This</li>
</ul>

{% for diff in commit.diffs %}
<p class="lead">{{diff.name}}</p>
<p>
{% if diff.mode == 'MODIFIED' %}
    <span class="label">
{% elif diff.mode == 'NEW' %}
    <span class="label label-success">
{% else %}
    <span class="label label-important">
{% endif %}
        {{diff.mode}}
    </span>
</p>
<pre class="prettyprint linenums">
{{diff.code}}
</pre>
{% endfor %}
{% endblock content %}
