{% extends 'layout.html' %}

{% block content %}
<ul class="breadcrumb">
    <li><a href="/">Repositories</a> <span class="divider">/</span></li>
    <li><a href="/{{repo}}">{{repo}}</a> <span class="divider">/</span></li>
    <li class="active">{{rev}}</li>
</ul>

{% for diff in commit.diffs %}
<p>
{% if diff.mode == 'MODIFIED' %}
    <span class="label">
{% elif diff.mode == 'NEW' %}
    <span class="label label-success">
{% else %}
    <span class="label label-important">
{% endif %}
        {{diff.mode}}
    </span>
<span class="lead" style="margin-left:10px">{{diff.name}}</span>
</p>
<pre class="prettyprint linenums">
{{diff.code}}
</pre>
{% endfor %}
{% endblock content %}
