<!DOCTYPE html>
<html>
<head>
    <title>Git Web UI</title>
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/prettify.css') }}">
    <link href="data:image/x-icon;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQEAYAAABPYyMiAAAABmJLR0T///////8JWPfcAAAACXBIWXMAAABIAAAASABGyWs+AAAAF0lEQVRIx2NgGAWjYBSMglEwCkbBSAcACBAAAeaR9cIAAAAASUVORK5CYII=" rel="icon" type="image/x-icon" />
    <style>
        body {
            margin-top: 20px;
            margin-left: 20px;
        };
    </style>
</head>
<body onload="prettyPrint()">
    <div class='container'>
        {% if error%}
        <div class='span4 alert alert-error'>
            {{error}}
        </div>
        {% endif%}

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% block content %}This is the content block{% endblock %}
<script type="text/javascript" src="{{ url_for('static', filename='js/prettify.js') }}"></script>
</body>
</html>
